# =========================
# 🐍 Python
# =========================
__pycache__/
*.py[cod]

# =========================
# 📦 Entorno virtual
# =========================
.venv/
venv/
env/

# =========================
# 📊 Datos generados
# =========================
data/

# =========================
# 🧾 Logs
# =========================
*.log

# =========================
# 🧰 IDEs
# =========================
.vscode/
.idea/

# =========================
# 🖥️ Sistema
# =========================
.DS_Store
Thumbs.db